.rm-main-head{
  width: 200px;
    color: #313131;
      font-size: 22px;
      font-weight: 400;
      /* border: 1px solid red; */
      margin-left: 70px;
      /* margin: 0; */
      /* margin-bottom: 105px; */
      /* position: relative; */
      /* line-height: 1.4; */
      /* margin-left: 75px; */
      /* margin-top: -20px; */
  } 
/* .rm-main-head >span {
    display: block;
    font-weight: 300;
} */
.borderreed{
  color: rgb(213, 43, 43);
  font-weight: 500;
  border-bottom: 3px solid red;
}
.takehomeborder{

  border-bottom:10px solid black;
}
.takeandhome{
  color: rgb(78, 77, 77);
}
.sc-gKXOVf ghbVGk{
  background-color: teal;
}
.ratetxtcar2{
  display: flex;
  justify-content: space-around;
  
}
.seemorediv{
  height:30px;
   width:80px;
   border:1px solid red;
   /* margin-top: 30px; */
   color:red;
   margin:auto ;
   padding:5px;
   box-sizing: border-box;
   cursor: pointer;
   
}
.see-More{
  margin-top: -3px;
}
.seemorediv:hover{
  
   color:white;
   background-color: red;
   
}
.cor2upperdiv{
  /* width: 100px; */
  /* height: 100px; */
  /* padding-left: 50px; */
  /* margin-left: 50px; */
  /* background-color: teal; */
}